.modal {
  &:before {
    content: "";
    background: $back-gray;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 10000;
    top: 0;
    left: 0;
  }
}

.modal__wrapper {
  @include position-zero();

  display: flex;
  flex-wrap: wrap;
  position: fixed;
  overflow: hidden;
  margin: auto;
  background-color: $white;
  z-index: 10001;
  padding: 30px 50px;
  width: 740px;
  height: min-content;
  box-shadow: 0 5px 6px $shadow-gray;
  border-radius: 4px;
}

.modal__image {
  max-width: min-content;
}

.modal__text-wrapper {
  margin: 0 126px 0 40px;
}

.modal__tittle-text {
  @include font-special(700);
  @include font-size(18px, 15px);

  color: $deep-middle-dark-gray;
  margin: 0 0 30px 0;
  letter-spacing: 0.02em;
  width: 100%;
}

.modal__text-name {
  @include font-special(700);
  @include font-size(16px, 15px);

  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $black;
}

.modal__text {
  @include font-special(400);
  @include font-size(14px, 15px);

  color: $black;
  margin: 6px 0 0 0;
  letter-spacing: 0.05em;
}

.modal__text-price {
  @include font-special(700);
  @include font-size(20px, 15px);

  color: $black;
  margin: 23px 0 0 0;
}

.modal__wrapper-button {
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  width: min-content;
  flex-grow: 1;
  margin: 0;
  height: fit-content;
}

.modal__wrapper-button--position {
  flex-wrap: nowrap;
  width: 100%;
  column-gap: 37px;
  padding: 0 82px 24px 82px;
}

.modal__basket-button {
  @include font-special(700);
  @include font-size(16px, 15px);

  padding: 14px 17px;
  height: fit-content;
  text-align: center;
  background-color: $orange;
  color: $white;
  letter-spacing: 0.05em;
  border-radius: 2px;
  border: none;
  margin: 15px 0 0 0;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: $orange-hover;
  }

  &:active {
    background-color: $orange-click;
  }
}

.modal__continue-button {
  @include font-special(700);
  @include font-size(16px, 15px);

  padding: 13px 16px;
  height: fit-content;
  color: $dark-gray;
  letter-spacing: 0.05em;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid $dark-gray;
  margin: 15px 0 0 0;
  cursor: pointer;
  width: 100%;

  &:hover {
    border: 1px solid $gray-hover;
    color: $gray-hover;
  }

  &:active {
    border: 1px solid $gray-active;
    color: $gray-active-text;
  }
}

.modal__close-button {
  position: absolute;
  top: 23px;
  right: 23px;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.modal__close-button::before,
.modal__close-button::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 2px;
  width: 17px;
  height: 2px;
  background-color: $middle-gray;
}

.modal__close-button::before {
  transform: rotate(45deg);
}

.modal__close-button::after {
  transform: rotate(-45deg);
}
