$opacity-gray: rgba(30, 9, 6, 0.15);
$dark-opacity-gray: rgba(0, 0, 0, 0.6);
$deep-dark-gray: #3F3F3F;
$shadow-gray: rgba(63, 63, 63, 0.2);
$back-gray: rgba(88, 87, 87, 0.6);
$gray-click: rgba(71, 71, 71, 0.5);
$deep-middle-dark-gray: #474747;
$dark-gray: #585757;
$gray: #C1C1C1;
$gray-white: #F7F3F3;
$bright-gray: #DDDADA;
$mouse-gray: #DDDDDD;
$middle-gray: #9F9E9E;
$dark-middle-gray: #6C6C6C;
$white: #FFFFFF;
$black: #000000;
$orange: #E27F00;
$orange-click: #DA8B26;
$orange-hover: #FFA839;
$gold: #FFD168;
$red: #F20505;

  // Viewports
$tablet-width: 768px;
$desktop-width: 1024px;
$post-desktop-width: 1365px;
$mobile-width-only: 767px;
